<h1>New event</h1>
<%= bootstrap_form_with(model: @event, local: true) do |form| %>


  <div class="field-width">
    <%= form.text_field :artist %>
  </div>

  <div class="field-width">
      <%= form.text_field :description %>
    </div>

  <div class="field-width">
    <%= form.number_field :price_low %>
  </div>

  <div class="field-width">
    <%= form.number_field :price_high %>
  </div>

  <div class="field-width">
    <%= form.date_field :event_date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
